.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #333;
    padding: 1rem;
}

.nav {
    display: flex;
    gap: 1rem;
}

.link {
    color: #fff;
    text-decoration: none;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.main {
    flex: 1;
    background: url('images/bg1.png') lightgray 0% 0% / 50px 50px repeat;
}

.footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 1rem;
}